
body{
    background-color: #330301;
    background-size: 100% 100%;
    
}

.game-page{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
}

.game-side{
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#game {
    background-color: white;
    display: block;
    margin: 0 auto;
    background-color: black;
    background-size: 100% 100%;
    border: 1px solid red;
    box-shadow: 0px 0px 30px #ffe2e2;
    /* z-index: 1; */
}

h1{
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 50px;
    text-shadow: 0 0 25px red;
}
#start-ref{
  position: relative; 
}
#start-button{
  position: absolute;
  white-space: nowrap;
  left: 40%;
  /* transform: translate(-40%, -70px); */
  color: #000;
  cursor: pointer;
  font-size: 50px;
  letter-spacing: 10px;
  text-shadow: 0 0 3px #fff, 0 0 8px #fff, 0 0 15px red, 0 0 18px red;
}


#start-button:hover{
  color: #FFF;
}






#breakout {
    background-color: white;
    display: block;
    margin: 0 auto;

   
}












